footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: black;
  height: 80px;
  display: flex;
  justify-content:left;
  align-items: center;
  color: white;
}



fieldset{
    background-color: #828282;
    color: white;
    font-weight: bold;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

main{
  /* display: grid; */
  text-align: center;
  /* grid-template-columns: repeat(3, 1fr); */
  margin-left: auto;
  margin-right: auto;
}

img{
  width:335px;
  height: 275px;
}

h2{
  font-size: larger;
  font-weight: bold;
}

h3{
  font-size: large;
  font-style: italic;
}

p{
  font-size: large;
}
